@use "../index.scss";

.dashboard-projects-list-item {
    background-color: index.$oxford-blue;
    color: white;
    width: 15rem;
    height: 8rem;
    border-radius: 0.5rem;
    position: relative;
    padding: 1rem;
    cursor: pointer;

    .projects-list-item-delete {
        position: absolute;
        color: white;
        top: 5px;
        right: 5px;
        border: 1px solid transparent;
        @include index.center-elements;
        border-radius: 50%;
        transition:
            color 0.3s ease,
            background-color 0.3s ease;
    }

    .projects-list-item-delete:hover {
        background-color: white;
        transition: background-color 0.3s ease;

        .projects-list-item-delete-icon {
            color: index.$oxford-blue;
            transition: color 0.3s ease;
        }
    }
}