@use "../index.scss";

.dashboard-projects-list-item {
    background-size: cover;
    color: white;
    width: 15rem;
    height: 8rem;
    border-radius: 0.5rem;
    position: relative;

    .project-container {
        cursor: pointer;
        width: 100%;
        height: 100%;
        padding: 1rem;

        .projects-list-item-title {
            word-wrap: break-word;
            width: 90%;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            z-index: 0;
        }

        .project-options-container {
            position: absolute;
            top: 5px;
            right: 3px;

            .project-options-icon-container {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                @include index.center-elements;
                transition:
                    color 0.3s ease,
                    background-color 0.3s ease;

                .project-options-icon {
                    font-size: 1.2rem;
                }
            }

            .project-options {
                position: absolute;
                right: 1px;
                background-color: white;
                color: black;
                top: calc(100% + 3px);
                border-radius: 5px;

                .project-options-item {
                    padding: 3px;
                }

                .project-options-item:hover {
                    background-color: index.$oxford-blue;
                    color: white;
                }

                .top {
                    border-radius: 4px 4px 0 0;
                }

                .bot {
                    border-radius: 0 0 4px 4px;
                }
            }

            .project-options-icon-container:hover {
                background-color: white;
                color: index.$oxford-blue;
                transition:
                    color 0.3s ease,
                    background-color 0.3s ease;
            }
        }
    }

    .project-delete-prompt-container {
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px) brightness(80%);
        @include index.center-elements;
        border-radius: 1rem;

        .project-delete-prompt {
            background-color: white;
            color: index.$oxford-blue;
            padding: 1rem;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .prompt-options {
                display: flex;
                gap: 0.5rem;

                button {
                    padding: 1px 3px;
                    border-radius: 5px;
                    border: 1px solid black;
                    transition:
                        color 0.3s ease,
                        background-color 0.3s ease;
                    cursor: pointer;
                }

                button:hover {
                    background-color: index.$oxford-blue;
                    color: white;
                    transition:
                        color 0.3s ease,
                        background-color 0.3s ease;
                }
            }
        }
    }
}
