@use "../index.scss";

.project-board-column-list {
    display: flex;
    list-style: none;
    padding: 0.5rem;
    gap: 1rem;

    .project-board-column-list-item {
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        border-radius: 0.5rem;
        height: fit-content;
        min-width: 15rem;
        max-width: 20rem;

        .column-header {
            .column-header-name-container {
                font-size: medium;
                font-weight: bold;
                margin-bottom: 0.5rem;
                display: flex;
                justify-content: space-between;

                .column-header-name {
                    height: fit-content;
                    word-wrap: break-word;
                    width: 90%;
                    flex: 1;
                }

                .column-header-options {
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    @include index.center-elements;
                    cursor: pointer;
                    transition:
                        color 0.3s ease,
                        background-color 0.3s ease;
                }
            }

            .column-header-options:hover {
                background-color: index.$oxford-blue;
                color: white;
                transition:
                    color 0.3s ease,
                    background-color 0.3s ease;
            }
        }

        .column-options-container {
            position: absolute;
            z-index: 1;
            right: 0;
            background-color: whitesmoke;
            border: 1px solid gainsboro;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            top: 2.5rem;

            .column-options-item-top {
                border-radius: 0.5rem 0.5rem 0 0;
            }

            .column-options-item-bottom {
                border-radius: 0 0 0.5rem 0.5rem;
            }

            .column-options-item {
                cursor: pointer;
                padding: 0.5rem;
                transition:
                    color 0.3s ease,
                    background-color 0.3s ease;
                border: 1px solid transparent;
            }

            .column-options-item:hover {
                background-color: index.$oxford-blue;
                color: white;
                transition:
                    color 0.3s ease,
                    background-color 0.3s ease;
            }
        }

        .column-delete-prompt-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(1rem) brightness(50%);
            border-radius: 0.5rem;
            display: flex;
            justify-content: center;
            min-height: 15rem;
        }

        .column-delete-prompt {
            margin-top: 1rem;
            background-color: white;
            width: 80%;
            padding: 0.5rem 0.5rem 1rem;
            border-radius: 0.5rem;
            min-height: 60%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .column-delete-promp-columnName {
                border-bottom: 1px solid gainsboro;
                width: 100%;
                text-align: center;
            }

            .column-delete-prompt-options {
                display: flex;
                gap: 1rem;

                .column-delete-prompt-options-item {
                    padding: 1px 5px;
                    border-radius: 5px;
                    border: 1px solid gainsboro;
                    cursor: pointer;
                    transition:
                        color 0.3s ease,
                        background-color 0.3s ease;
                }

                .column-delete-prompt-options-item:hover {
                    background-color: index.$oxford-blue;
                    color: white;
                    transition:
                        color 0.3s ease,
                        background-color 0.3s ease;
                }
            }
        }
    }

    .add-column {
        #column-add-form {
            input {
                border: 1px solid transparent;
            }
        }
    }

    .card-options-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1rem) brightness(50%);
        min-height: 10rem;
        display: flex;

        .card-edit-close-container {
            position: absolute;
            right: 2px;
            top: 2px;
            color: white;
            border: 1px solid transparent;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            @include index.center-elements;
            transition:
                color 0.3s ease,
                background-color 0.3s ease;
            cursor: pointer;
        }

        .card-edit-close-container:hover {
            background-color: white;
            color: index.$oxford-blue;
            transition:
                color 0.3s ease,
                background-color 0.3s ease;
        }
    }

    .card-options-show {
        visibility: visible;
    }

    .card-options-hide {
        visibility: hidden;
    }
}
