@use "../index.scss";

.project-board-column-list {
    display: flex;
    list-style: none;
    padding: 0.5rem;
    gap: 1rem;

    .project-board-column-list-item {
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        border-radius: 0.5rem;
        height: fit-content;
        min-width: 15rem;

        .column-header {
            display: flex;
            gap: 0.5rem;
            justify-content: space-between;

            .column-header-name {
                font-size: medium;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            .column-header-options {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                @include index.center-elements;
                cursor: pointer;
                transition:
                    color 0.3s ease,
                    background-color 0.3s ease;
            }

            .column-header-options:hover {
                background-color: index.$oxford-blue;
                color: white;
                transition:
                    color 0.3s ease,
                    background-color 0.3s ease;
            }
        }

        .column-options-container {
            position: absolute;
            z-index: 1;
            right: 0;
            background-color: whitesmoke;
            border: 1px solid gainsboro;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }

    .add-column {
        #column-add-form {
            input {
                border: 1px solid transparent;
            }
        }
    }

    .card-options-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1rem) brightness(50%);
        min-height: 10rem;
        display: flex;

        .card-edit-close-container {
            position: absolute;
            right: 2px;
            top: 2px;
            color: white;
            border: 1px solid transparent;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            @include index.center-elements;
            transition:
                color 0.3s ease,
                background-color 0.3s ease;
            cursor: pointer;
        }

        .card-edit-close-container:hover {
            background-color: white;
            color: index.$oxford-blue;
            transition:
                color 0.3s ease,
                background-color 0.3s ease;
        }
    }

    .card-options-show {
        visibility: visible;
    }

    .card-options-hide {
        visibility: hidden;
    }
}
