@use "../index.scss";

.project-page {
    @include index.page-layout;

    .redirectToLogin-container {
        background-color: rgba(0, 0, 0, 0.5);
        @include index.center-elements;
        position: absolute;
        width: 100vw;
        height: 100%;
        z-index: 2;

        .redirectToLogin {
            background-color: white;
            padding: 2rem;
            border-radius: 1rem;
            margin-bottom: 20%;
            width: 15%;
            height: 20%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @include index.center-elements;
        }

        .redirectToLogin-text {
            text-align: center;
        }

        .redirectToLogin-options {
            display: flex;
            gap: 1rem;

            .redirectToLogin-options-item {
                padding: 5px;
                border-radius: 5px;
                border: 1px solid black;
                cursor: pointer;
                transition:
                    color 0.3s ease,
                    background-color 0.3s ease;
            }

            .redirectToLogin-options-item:hover {
                background-color: index.$oxford-blue;
                color: white;
                transition:
                    color 0.3s ease,
                    background-color 0.3s ease;
            }
        }
    }

    .project-display {
        @include index.page-display;
        display: flex;
        background-attachment: fixed;
        background-size: cover;
        min-width: 100vw;
        width: fit-content;
        clip-path: inset(0 0 0 0);

        .project-board {
            position: relative;
            z-index: 0;
            min-height: 100%;
            min-width: 100%;

            h2 {
                padding-left: 1rem;
                border-bottom: 1px solid gainsboro;
                backdrop-filter: blur(5px);
                background-color: rgba(255, 255, 255, 0.5);
                height: 3rem;
                display: flex;
                align-items: center;
            }
        }

        .p-left-15rem {
            padding-left: 15rem;
            transition: padding-left 0.3s ease;
        }

        .p-left-1rem {
            padding-left: 1rem;
            transition: padding-left 0.3s ease;
        }
    }
}
