@use "../index.scss";

.project-page {
    @include index.page-layout;

    .project-display {
        @include index.page-display;
        display: flex;
        background-image: url("../../assets/media/1.jpg");
        background-size: contain;

        .project-board {
            position: relative;
            padding-left: 1rem;
            flex: 1;
            z-index: 0;
        }
    }
}
